
@{
    ViewBag.Title = "游戏攻略";
}
<div class="subbanner subbanner-farm" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">

        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 195px; width: 1862px; z-index: -999998; position: absolute;">

        <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 387.917px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -96.4583px;" src="/content/images/banner-farm02.jpg" class="deleteable"><img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 387.917px; max-height: none; max-width: none; z-index: -999999; opacity: 0.984292; left: 0px; top: -96.4583px;" src="/content/images/banner-farm01.jpg">
    </div>
</div>

<div class="container clear">
    <div class="side">
        @Html.Partial("_StrategySideMenu")
    </div>
    <div class="main">
        <div class="main-head">公司介绍</div>
        <div class="main-text">
            <p>　　蓝朝信息科技有限公司成立于2015年，注册资金300万，是一家专业为用户提供数字产品交易服务的电子商务平台。我们将不断打造为国内最受欢迎、最具影响力的数字产品交易网站。公司拥有研发工程师、商业模式研究者的团队，我们的目标是打造为国内最受欢迎、最具影响力的数字产品交易网站，发展成为一家集信息技术研发、游戏运营、电子商务交易服务于一体的跨区域集团化企业。</p>
            <p>　　服务，是蓝朝信息科技有限公司的核心价值。坚持 “客户满意度100%，员工满意度100%”的信念和追求，在“用户至上”思想的指导下，在“追求卓越、超越自我”的精神激励下，蓝朝信息科技有限公司旗下项目淘金果园（www.taojingy.com）凭借先进的技术和严谨的管理以快捷的交易速度、便利的交易流程、人性化的交易服务和不断优化的交易安全机制，提供基于数字交易的各种产品。全面覆盖了数字产品的交易需求，为用户提供每周7天每天16小时不间断服务。随着全球网游产业迅速发展，淘金果园在稳固发展国内市场的同时，将未来的发展目标定位在全球，不断完善用户体验，持续优化安全机制，努力提升服务质量，力争打造成全球领先的数字产品在线交易平台。</p>
        </div>
    </div>
</div>