@{
    ViewBag.Title = "用户协议";
}

<div class="subbanner subbanner-about" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>用户协议</h1>
            <h2>Agreement</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 195px; width: 1862px; z-index: -999998; position: absolute;">
        <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 349.125px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -77.0625px;" src="/content/images/banner-about01.png">
    </div>
</div>

<div class="container clear">
   @Html.Partial("_AboutSideMenu")
    <div class="main">
        <div class="main-head">用户协议</div>
        <div class="main-text">
            <b>一.总则</b>
            <p>1.用户在使用淘金果园平台服务前，应当仔细阅读《淘金果园协议》（以下简称“本协议”）的全部内容，对于本协议中的加重字体、斜体、下划线、颜色标记等条款需重点阅读、理解。用户在淘金果园进行交易表示用户与淘金果园达成以下协议，完全接受本协议项下的全部条款，本协议即在用户与淘金果园平台之间产生法律效力，对双方均具有法律约束力。</p>
            <p>2.淘金果园用户协议、各个单项服务条款、全部活动条款及公告可由淘金果园平台随时更新，且无需另行通知。淘金果园平台有权对上述条款进行修改，修改后的协议一旦公布即有效替代原有协议。用户可随时查询最新协议。用户在使用淘金果园平台提供的各项服务之前，应仔细阅读本协议及本协议不可分割的各项服务协议。用户在使用相关服务时,应关注并遵守其所适用的相关条款。用户如不同意本用户协议及/或随时对其的修改，可以主动取消淘金果园平台提供的服务；用户一旦使用淘金果园平台服务，即视为用户已了解并完全同意本协议及其他服务条款中的各项内容，包括淘金果园平台对本协议及其他服务条款随时所做的任何修改。淘金果园平台与用户共同确认：</p>
            <p>3.本协议内容包括本协议正文以及淘金果园平台已经发布的或将来可能发布的各类规则、声明、说明。所有规则、声明、说明为协议不可分割的一部分，与协议正文具有同等法律效力。本协议不涉及淘金果园用户与其他用户之间因淘金果园交易而产生的法律关系及法律纠纷。本网站在国家相关法律法规规定的范围内，只按现有状况提供虚拟物品在线交易第三方网络平台服务，本网站及其所有者非交易一方，也非交易任何一方之代理人或代表；同时，本网站及其所有者也未授权任何人代表或代理本网站及其所有者从事任何网络交易行为或做出任何承诺、保证或其他类似行为，除非有明确的书面授权。</p>
            <p>4.鉴于互联网及网络交易的特殊性，本网站无法鉴别和判断相关交易各主体之民事权利和行为能力、资质、信用等状况，本网站不希望出现任何因虚拟物品交易而在用户之间及用户与游戏开发运营商之间产生纠纷，但并不保证不发生该类纠纷。对于因前述各类情形而产生的任何纠纷，将由交易各方依据中华人民共和国现行的有关法律通过适当的方式直接加以解决，本网站及其所有者不参与其中；对于因此类交易而产生的各类纠纷之任何责任和后果，由交易各方承担，本网站及其所有者不承担任何责任及后果。</p>
            <p>5.本网站不希望出现任何人利用本网站或因使用本网站而侵犯他人合法权益的行为，但并不保证不会发生此类行为或类似行为。本网站将依据中国法律采取必要的措施防止发生前述各类行为或降低发生这类行为的可能性或者降低由此造成的损失及其后果。对于因前述各类情形而产生的任何纠纷，将由权利受到侵害之人和侵权方依据中华人民共和国现行的有关法律通过适当的方式直接加以解决，本网站及其所有者不参与其中；对于因此类行为产生的各类纠纷之任何责任和后果，由相关责任方承担，本网站及其所有者不承担任何责任及后果。任何非本网站责任而产生的任何其他纠纷，概由纠纷各方依据中国相关法律以适当的方式直接加以解决，本网站不参与其中；对于因该类行为产生的各类纠纷之任何责任和后果，由相关各方承担，本网站及其所有者不承担任何责任及后果。</p>

            <b>二、定义条款</b>
            <p>1.淘金果园平台是运营和管理淘金果园的平台。</p>
            <p>2.“淘金果园”：提供游戏虚拟物品在线交易第三方网络平台服务。</p>
            <p>3.“淘金果园交易”：用户之间通过淘金果园平台进行游戏虚拟物品交易活动。</p>
            <p>4.“充值款”：用户之间购买/出售游戏虚拟物品而向淘金农场平台预充入的人民币的款项。</p>
            <p>5.“手续费”：用户在淘金果园平台达成淘金果园交易而向平台支付的交易服务费用。</p>


            <b>三.用户服务：</b>
            <p>1.淘金果园平台为用户进行淘金果园交易活动提供网络交易平台服务。淘金果园平台不作为买家或是卖家参与买卖游戏虚拟物品为本身。</p>
            <p>2.服务内容：用户有权在淘金果园平台浏览游戏虚拟物品的时行情及交易信息、有权通过淘金果园平台提交游戏虚拟物品交易指令并完成交易。</p>
            <p>3.用户有权应用淘金果园平台提供的功能进行操作。</p>
            <p>4.淘金果园平台承诺为用户提供的其他服务。</p>
            <p>5.服务规则：用户承诺遵守下列淘金果园平台服务规则：用户应当遵守法律法规、规章、规范性文件及政策要求的规定，不得在淘金果园平台或利用淘金果园平台服务从事非法或其他损害淘金农场平台或第三方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息，发送或接收传销材料或存在其他危害的信息或言论，未经淘金果园平台授权使用或伪造淘金果园平台电子邮件题头信息等。</p>
            <p>6.用户应当遵守淘金果园平台不时发布和更新的用户协议以及其他服务条款和操作规则。</p>

            <b>四、淘金果园交易规则</b>
            <p>用户承诺在其进入淘金果园交易，通过淘金农场平台与其他用户进行游戏虚拟物品交易的过程中良好遵守如下淘金果园交易规则：</p>
            <p>1.浏览交易信息：用户在淘金果园平台浏览淘金果园交易信息时，应当仔细阅读交易信息中包含的全部内容，包括但不限于虚拟物品价格、委托量、手续费、买入或卖出方向，用户完全接受交易信息中包含的全部内容后方可点击按钮进行交易。</p>
            <p>2.提交委托：在浏览完交易信息确认无误之后用户可以提交交易委托。用户提交交易委托后，，淘金果园平台在有满足用户委托价格的交易时将会自动完成撮合交易而无需提前通知用户。</p>
            <p>3.查看交易明细：用户可以通过管理中心的交易明细中查看相应的成交记录，确认自己的详情交易记录。</p>
            <p>4.撤销/修改委托：在委托未达成交易之前，用户有权随时撤销或修改委托。</p>

            <b>五、用户的权利和义务</b>
            <p>1.用户有权按照本协议约定接受淘金果园平台服务。</p>
            <p>2.用户在淘金果园平台进行淘金果园交易时不得恶意干扰游戏虚拟物品交易的正常进行、破坏交易秩序。</p>
            <p>3.用户不得以任何技术手段或其他方式干扰淘金果园平台的正常运行或干扰其他用户对淘金果园平台服务的使用。</p>
            <p>4.如用户因网上交易与其他用户产生诉讼的，不得通过司法或行政以外的途径要求淘金果园平台提供相关资料。</p>
            <p>5.用户不得以虚构事实等方式恶意诋毁淘金果园平台的商誉。</p>

            <b>六、淘金果园平台的权利和义务</b>
            1.淘金果园平台有权在发现淘金果园平台上显示的任何信息存在明显错误时，对信息予以更正。<p></p>
            2.淘金果园平台保留随时修改、中止或终止淘金果园平台服务的权利，淘金果园平台行使修改或中止服务的权利不需事先告知用户，淘金果园平台终止其一项或多项服务的，终止自淘金果园平台在网站上发布终止公告之  日生效。<p></p>
            3.淘金果园平台应当采取必要的技术手段和管理措施保障平台的正常运行，并提供必要、可靠的交易环境和交  易服务，维护淘金果园交易秩序。<p></p>
            4.淘金果园平台有权随时删除淘金果园平台网站内各类不符合国家法律法规、规范性文件或淘金果园平台网站规定的用户评价等内容信息，淘金农场平台行使该等权利不需提前通知用户。<p></p>

            <b>七、特别声明</b>
            <p>1.在法律允许的范围内不论在何种情况下，淘金果园平台对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、 司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务，以及用户因此而遭受的损失不承担责任。</p>
            <p>2.本网站的宗旨是在不违反中华人民共和国法律法规的前提下，尽可能地为中国广大淘金果园爱好者及用户提供专业的国际化水准的交易平台。禁止使用本网站从事洗钱、走私、商业贿赂等一切非法交易活动，若发现此类事件，本站将冻结账户，立即报送公安机关。</p>
            <p>3.当公安机关、检察院、法院等有权机关出示相应的调查文件要求本站配合对指定用户进行调查时，或对用户账户采取查封、冻结或者划转措施时，本站将按照公安机关的要求协助提供相应的用户数据，或进行相应的操作。 因此而造成的用户隐私泄露、账户不能操作及因此给所造成的损失等，本站不承担任何责任。</p>
            <p>4.本网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，本站做为服务的提供方，有义务对平台的规则及服务进行完善，但本站并无触犯中华人民共和国法律的动机和事实，对使用者的行为不承担任何连带责任。</p>
            <p>5.凡以任何方式登陆本网站或直接、间接使用本网站服务者，视为自愿接受本网站声明的约束。</p>
            <p>7.本声明未涉及的问题参见中华人民共和国有关法律法规，当本声明与中华人民共和国法律法规冲突时，以中华人民共和国法律法规为准。</p>

            <b>八、知识产权</b>
            <p>1.淘金果园平台所包含的全部智力成果包括但不限于网站标志、数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，软件编译、相关源代码和软件 (包括小应用程序和脚本) 的知识产权权利均归淘金果园平台所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。</p>
            <p>2.用户接受本协议即视为用户主动将其在淘金果园平台发表的任何形式的信息的著作权，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权 以及应当由著作权人享有的其他可转让权利无偿独家转让给淘金果园平台所有，淘金果园平台有权利就任何主体侵权单独提起诉讼并获得全部赔偿。本协议属于《中华人民共和国著作权法》第二十五条规定的书面协议，其效力及于用户在开淘金果园平台发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。</p>
            <p>3.用户在使用淘金果园平台服务过程中不得非法使用或处分淘金果园平台或他人的知识产权权利。用户不得将已发表于淘金果园平台的信息以任何形式发布或授权其它网站（及媒体）使用。</p>

            <b>九、客户服务</b>
            <p>淘金果园宝平台建立专业的客服团队，并建立完善的客户服务制度，从技术、人员和制度上保障用户提问及投诉渠道的畅通，为用户提供及时的疑难解答与投诉反馈。</p>

            <b>十、协议的变更和终止</b>
            <p>1.协议的终止</p>
            <p>2.淘金果园平台有权依据本协议约定终止全部淘金果园平台服务，本协议于淘金果园平台全部服务终止之日终止。</p>
            <p>3.本协议终止后，用户无权要求淘金果园平台继续向其提供任何服务或履行任何其他义务，包括但不限于要求淘金果园平台为用户保留或向用户披露其原账户中的任何信息，向用户或第三方转发任何其未曾阅读或发送过的信息等。</p>
            <p>4.本协议的终止不影响守约方向违约方追究违约责任。</p>

            <b>十一、隐私权政策</b>
            <p>1.适用范围</p>
            <p>2.在用户使用淘金果园平台服务时，或访问淘金果园平台网页时，淘金果园平台自动接收并记录的用户浏览器上的服务器数值，包括但不限于IP地址等数据及用户要求取用的网页记录。</p>
            <p>3.淘金果园平台收集到的用户在淘金果园平台进行交易的有关数据，包括但不限于出价、购买等记录。</p>
            <p>4.淘金果园平台通过合法途径取得的其他用户个人信息。</p>
            <p>5.信息使用</p>
            <p>6.淘金果园平台不会向任何人出售或出借用户信息，除非事先得到用户的许可。淘金果园也不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户信息。</p>




            <b>十二、风险提示</b>
            <p>1.淘金果园交易有极高的风险。</p>
            <p>2.参与淘金果园虚拟物品交易，用户应当自行控制风险，评估虚拟物品买卖损失的风险。</p>
            <p>3.因国家法律、法规和规范性文件的制定或者修改，导致淘金果园的交易被暂停、或者禁止的，因此造成的经济损失全部由用户自行承担。</p>

            <b>十三、违约责任</b>
            <p>1.淘金果园平台或用户违反本协议的约定即构成违约，违约方应当向守约方承担违约责任。</p>
            <p>2.如因用户提供的信息不真实、不完整或不准确给淘金果园平台造成损失的，淘金果园平台有权要求用户对淘金果园平台进行损失的赔偿。</p>
            <p>3.如因用户违反法律法规规定或本协议约定，在淘金果园平台或利用淘金果园平台服务从事非法活动的，淘金果园平台有权立即终止继续对其提供淘金果园平台服务，并要求其赔偿由此给淘金果园平台造成的损失。</p>
            <p>4.如用户以技术手段干扰淘金果园平台的运行或干扰其他用户对淘金果园平台使用的，淘金果园平台有权立即禁止此用户一切交易，并有权要求其赔偿由此给淘金果园平台造成的损失。</p>
            <p>5.如用户利用系统漏洞进行刷金币而严重破坏市场、造成公司利益损失的将永久封号处理。</p>
            <p>6.如用户以虚构事实等方式恶意诋毁淘金果园平台的商誉，淘金果园有权要求用户向淘金果园平台公开道歉，赔偿其给淘金果园平台造成的损失，并有权终止对其提供淘金果园平台服务。</p>

            <b>十四、协议的生效和解释</b>
            <p>本协议于用户点击淘金果园平台产生交易时生效，对淘金果园平台和用户均具有约束力。</p>
        </div>
    </div>
</div>