@{
    ViewBag.Title = "费率声明";
}
<div class="subbanner subbanner-about" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>费率声明</h1>
            <h2>Charge declaration</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 195px; width: 1862px; z-index: -999998; position: absolute;">
        <img src="/content/images/banner-about01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 349.125px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -77.0625px;">
    </div>
</div>

<div class="container clear">
    @Html.Partial("_AboutSideMenu")
    <div class="main">
        <div class="main-head">费率声明</div>
        <div class="main-text">
            <b>交易手续费</b>
            <p>
                淘金果园的所有买入无手续费，种子卖出交易手续费为20%，果实卖出交易续费为1%。
                <br>　　交易手续费绝大部分将用于支付推荐提成。
            </p>
            <b>果实租借手续费</b>
            <p>
                果实租借手续费按日息计算，日息0.002，归还时统一收取。
                <br>　　果实租借每次最长不超过1个月，逾期未归还，系统将强制平仓。
            </p>
            <b>果实重生手续费</b>
            <p>
                淘金果园的果实重生手续费为10%。
                <br>　　果实重生手续将用于玫瑰花分红。
            </p>
            <b>金币提现手续费</b>
            <p>
                淘金果园的金币提现手续费为3%。
                <br>　　金币提现手续将用于支付接口费用及税费。
            </p>
        </div>
    </div>
</div>