@{
    ViewBag.Title = "客服中心";
}
<div class="subbanner subbanner-about" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>客服中心</h1>
            <h2>Customer Service Center</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 195px; width: 1862px; z-index: -999998; position: absolute;">


        <img src="/content/images/banner-about01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 349.125px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -77.0625px;">
    </div>
</div>

<div class="container clear">
    @Html.Partial("_HelpSideMenu")
    <div class="main">
        <div class="main-head">客服中心</div>
        <dl class="main-contact clear">
            <dd>
                <i class="icon qq"></i>
                <b>QQ群</b>
                <span>1号群：94794979<!--<em class="icon">&#xe620;<cite class="qq"></cite></em>--></span>
            </dd>
            <dd>
                <a href="" target="_blank"><i class="icon weibo"></i></a>
                <b>新浪微博</b>
                <span><a href="" target="_blank">蓝朝农场</a><em class="icon"><cite class="wb"></cite></em></span>
            </dd>
            <dd>
                <i class="icon wechat"></i>
                <b>官方微信</b>
                <span>lanchaonongchang<em class="icon"><cite class="wx"></cite></em></span>
            </dd>
            <dd>
                <a href="" target="_blank"><i class="icon business"></i></a>
                <b>商务合作</b>
                <span><a href="" target="_blank">business@lanchaokj.com</a></span>
            </dd>
        </dl>
        <div class="main-text padding-bottom">
            <b>　　客服QQ</b>
            <p>　　948799497</p>
            <b>　　服务热线</b>
            <p>　　123-456789</p>
            <p>　　服务时间：工作日9:00 - 18:00</p>
            <b>　　公司地址</b>
            <p>　　运营中心:湖南省岳阳市岳阳楼区天祥电脑城T3-4307</p>
            <p>　　研发中心:湖南省岳阳市岳阳楼区天祥电脑城T3-4307</p>
        </div>
    </div>
</div>