<div class="subbanner subbanner-help" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>@ViewBag.H1Title</h1>
            <h2>@ViewBag.H2Title</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 195px; width: 1862px; z-index: -999998; position: absolute;">

        <img src="images/banner-about01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 349.125px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -77.0625px;">
    </div>
</div>