<div class="side">
    <dl class="sidemenu">
        <dt><i class="icon"></i>帮助中心</dt>
        <dd>@Html.ActionLink("常见问题", "Faq", "Home")</dd>
        <dd>@Html.ActionLink("新手指南", "Guide", "Home")</dd>
        <dd>@Html.ActionLink("客服中心", "Service", "Home")</dd>
    </dl>
</div>
