
<dl class="sidemenu">
    <dt><i class="icon"></i>游戏资料</dt>
    <dd class="select">@Html.ActionLink("游戏介绍", "Farm", "Static")</dd>
    <dd><a href="/Strategy" style="position:relative;">攻略心得<sup class="hot">Hot</sup></a></dd>
    <dd>@Html.ActionLink("常见问题", "FaqForFarm", "Static")</dd>
    <dd>@Html.ActionLink("新手指南", "GuideForFarm", "Static")</dd>
    <dd>@Html.ActionLink("视频教程", "Video", "Static")</dd>
</dl>



