@{
    ViewBag.Title = "常见问题";
}
<div class="subbanner subbanner-help" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>常见问题</h1>
            <h2>Frequently Asked Questions</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 195px; width: 1862px; z-index: -999998; position: absolute;">

        <img src="/content/images/banner-about01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 349.125px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -77.0625px;">
    </div>
</div>

<div class="container clear">
    <div class="side">
        @Html.Partial("_HelpSideMenu")
    </div>
    <div class="main">
        <div class="main-head">常见问题</div>
        <div class="main-text">
            <div class="question"><i class="icon"></i>注册后的淘金果园账号和身份信息可以进行修改吗？</div>
            <div class="answer">您好，淘金果园账号和身份信息一经注册是不允许修改的。所以在实名认证时，请认真填写身份证信息，确认正确后再提交认证。</div>

            <div class="question"><i class="icon"></i>忘记登录密码怎么办？</div>
            <div class="answer">您好，登录密码是可以自己通过手机验证码的方式找回的。</div>

            <div class="question"><i class="icon"></i>如何自行修改登录密码？</div>
            <div class="answer">登录淘金果园账号后在用户中心里的安全设置可以修改登录密码。</div>

            <div class="question"><i class="icon"></i>绑定手机时怎么收不到短信验证码？</div>
            <div class="answer">您好，请先查看您手机是否欠费或者不在服务区内；如果您使用了手机管家等软件时，请留意是否被相关软件错误拦截，造成您无法正常接收短信；另外请不要频繁点击发送验证码。</div>

            <div class="question"><i class="icon"></i>平台支持哪些充值方式充值最低多少？</div>
            <div class="answer">您好，目前支持微信、网银充值时时到账，充值金额最低100金币。</div>

            <div class="question"><i class="icon"></i>为什么我网银充值之后的状态一直都是显示处理中的？</div>
            <div class="answer">您好，这是因为您进入了我们网银充值渠道，但是由于您最后没有成功付款，所以状态显示在处理中（后续开通）。</div>

            <div class="question"><i class="icon"></i>请问官方平台交易手续费是怎么收取的？</div>
            <div class="answer">交易手续费：淘金果园的所有买入交易手续费为0,种子卖出交易手续费为10%，果实卖出交易手续费为1%。交易手续费大部分将用于支付推荐提成。果实重生手续费：淘金果园的果实重生手续费为10%，果实重生手续费将用于玫瑰花分红。</div>
        </div>
    </div>
</div>