@{
    ViewBag.Title = "关于我们";
}
<div class="subbanner subbanner-news" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>游戏攻略</h1>
            <h2>Game &amp; Strategy</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 192px; width: 1903px; z-index: -999998; position: absolute;"><img src="/content/images/banner-news01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 356.813px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -82.4063px;"></div>
</div>


<div class="container clear">
    <div class="side">
        @Html.Partial("_StrategySideMenu")
    </div>
    <div class="main">
        <div class="main-head">常见问题</div>
        <div class="main-text">

            <div class="question"><i class="icon"></i>淘金农场如何赚取金币？</div>
            <div class="answer">在农场种植，然后收获的果实在淘金果园交易。</div>

            <div class="question"><i class="icon"></i>淘金农场的种子怎么升值呢？</div>
            <div class="answer">农场的种子是有限的，在游戏里面种植总会消耗，肯定数量越来越少，所以价格会越来越高的。</div>

            <div class="question"><i class="icon"></i>淘金农场的果实交易会不会达到饱和呢？</div>
            <div class="answer">游戏进行中就会消耗一些果实，果实可以回炉成种子，所以不会饱和。</div>

            <div class="question"><i class="icon"></i>淘金农场怎样才能种出玫瑰花呢？</div>
            <div class="answer">农需要把土地从黄土地升级成金土地才可以。</div>

            <div class="question"><i class="icon"></i>淘金农场怎么注册？</div>
            <div class="answer">输入网址，填写账号密码。  现分为两个注册通道，1:淘金农场  2淘金果园， 都可以注册。账号均可通用。</div>

            <div class="question"><i class="icon"></i>淘金农场怎么充值钻石？</div>
            <div class="answer">点击充值选取微信或网银充值成金币，再进入农场兑换钻石。</div>

            <div class="question"><i class="icon"></i>果实怎么重生？</div>
            <div class="answer">点击交易平台用户中心，在点击交易中心即可找到。</div>

            <div class="question"><i class="icon"></i>淘金农场游戏怎么才能获取土地？</div>
            <div class="answer">升级房屋后自动会获取土地，每升一级就会多一块的。</div>

            <div class="question"><i class="icon"></i>淘金农场怎么升级土地？</div>
            <div class="answer">点击房屋选取土地升级即可。</div>

        </div>


    </div>
</div>