@{
    ViewBag.Title = "游戏介绍";
}
<div class="subbanner subbanner-news" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>游戏攻略</h1>
            <h2>Game &amp; Strategy</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 192px; width: 1903px; z-index: -999998; position: absolute;"><img src="/content/images/banner-news01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 356.813px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -82.4063px;"></div>
</div>


<div class="container clear">
    <div class="side">
        @Html.Partial("_StrategySideMenu")
    </div>
    <div class="main">
        <div class="main-head">游戏介绍</div>
        @Html.Partial("_FarmSubMenu")
        <div class="main-farm">
            <p style="text-indent:28px;">淘金农场是蓝朝信息科技有限公司开发的一款以农场为背景的模拟经营类游戏，游戏于2016年8月8日正式与玩家见面。大家都知道现在越来越多的玩家更喜欢玩游戏赚钱，那么淘金农场游戏将创造一个新的游戏体制，赚钱玩游戏来满足日益增长想玩游戏的玩家们的需求，淘金农场主要是以农场土地种植为背景的模拟经营游戏。</p>
            <p style="text-indent:28px;">游戏中，玩家扮演一个农场的经营者完成从购买种子到耕种、浇水、施肥、除草、收获果实，再到出售给市场的整个过程。游戏模拟了作物的成长过程，所以玩家在经营农场的同时，可以感受“作物养成”带来的乐趣。游戏中，玩家可以可对房屋、土地等进行升级，获得更加强大、高效的农场。</p>
            <p style="text-indent:28px;">游戏中还有很多其他惊喜等待您的发现！</p>
        </div>
    </div>
</div>