@{
    ViewBag.Title = "关于我们";
}
<div class="subbanner subbanner-news" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>游戏攻略</h1>
            <h2>Game &amp; Strategy</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 192px; width: 1903px; z-index: -999998; position: absolute;"><img src="/content/images/banner-news01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 356.813px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -82.4063px;"></div>
</div>


<div class="container clear">
    <div class="side">
        @Html.Partial("_StrategySideMenu")
    </div>
    <div class="main">
        <div class="main-head">新手指南</div>
        <div class="main-farm">

            <div class="main-farm-guide clear">
                <b>如何注册</b>
                <p>
                    1.直接访问淘金果园的网址[<a href="#" class="color-1">/</a>]，然后点击页面右上角的注册按钮进行注册；（如果您是好友推荐注册，您可以在注册页面添入您好友的推广码。）<br>
                    2.直接访问淘金农场的网址[<a href="#" class="color-1" target="_blank">/</a>]，然后点击淘金农场游戏界面上的注册按钮进行注册；<br>
                    3.您通过复制您好友发给您的推广地址或者扫描推广二微码进入页对应的页面进行注册；<br>
                </p>
            </div>

            <div class="main-farm-guide clear">
                <b>如何充值</b>
                <p>
                    1.通过淘金果园充值<br>
                    登录淘金果园网站，进入用户中心，在用户中心点击“金币充值”按钮进入充值页面，当然，您也可以通过左侧的导航菜单[用户中心-账户充值]进入充值页面；<br>
                    <img src="/Content/images/Guide01.jpg"><br>
                    <img src="/Content/images/Guide02.jpg"><br>
                    2.通过淘金农场充值<br>
                    您也可以通过淘金农场游戏直接充值，点击游戏界面上放的[充值]按钮，回直接弹出对话框，点击对话况中的[金币充值]按钮进入充值页面；<br>
                    <img src="/Content/images/Guide03.jpg"><br>
                    3.充值温馨小提示：<br>
                    如果充值选择微信支付，如果您是电脑登录，您可以直接扫描二维码付款，如果您是手机登录，请您长按二维码，并识别付款。
                </p>
            </div>

            <div class="main-farm-guide clear">
                <b>升值币用户如何转币以及兑换钻石</b>
                <p>
                    1.进入淘金果园-用户中心-果园钱包，您可以复制钱包地址，然后在图有利平台（www.tuyouli.cn）进行升值币转移操作。<br>
                    2.打开兑换开关<br>
                    3.在淘金农场兑换钻石时，扣取兑换金额80%的金币+兑换金额20%的升值币，如可用升值币不足，将全额扣取金币。<br>
                    4.如果您没有打开兑换开关，在淘金农场兑换钻石时，全额扣取您的金币。
                    <img src="/Content/images/Guide08.jpg"><br>
                </p>
            </div>

            <div class="main-farm-guide clear">
                <b>如何兑换钻石</b>
                <p>
                    如果您已经成功充值，您可以在淘金果园或者淘金农场里看到您的金币余额，您可以通过您的金币余额在淘金农场游戏里兑换钻石。点击游戏界面上放的[充值]按钮，回直接弹出对话框，选择您要兑换的钻石数量进行兑换。兑换成功后您可以在游戏界面的右上角看到您的钻石数量。您可以用您的钻石购买种子等各种道具以及升级您的房屋和土地等。<br>
                    <img src="/Content/images/Guide04.jpg"><br>
                </p>
            </div>

            <div class="main-farm-guide clear">
                <b>如何购买种子与其他道具</b>
                <p>
                    如果您已经成功兑换钻石，您可以点击游戏界面右下方的[我的家园]按钮，然后会弹出另外的几个按钮，点击[商城]按钮进入游戏商城界面，点击购买按钮安需要购买种子或者其他道具。同时也可以从商城界面点击[进入果园]按钮进入果园，您可以在果园里买卖您种出的果实。<br>
                    <img src="/Content/images/Guide05.jpg"><br>
                </p>
            </div>


            <div class="main-farm-guide clear">
                <b>如何查看我的果实与果实交易</b>
                <p>
                    您可以点击游戏界面右下方的[我的家园]按钮，然后会弹出另外的几个按钮，点击[仓库]按钮进入游戏仓库界面，在这里你可以看到你有多少物品，同时也可以从商城界面点击[进入果园]按钮进入果园，您可以在果园里买卖您种出的果实。<br>
                    <img src="/Content/images/Guide07.jpg"><br>
                </p>
            </div>


            <div class="main-farm-guide clear">
                <b>如何升级房屋和土地</b>
                <p>
                    点击游戏界面上的房屋或者点击未开垦的土地，就可以弹出房屋升级按钮进行房屋升级，每升一级房屋就可以开垦一块土地。在这个界面上您可以点击升级土地按钮进入土地升级界面。<br>
                    <img src="/Content/images/Guide06.jpg"><br>
                </p>
            </div>


            <div class="main-farm-guide clear">
                <b>如何交易果实</b>
                <p>
                    <span class="color-1">1.登录淘金果园果园网站，点击页面上方的导航菜单[实时行情]即可进入行情列表页面。</span><br>
                    <img src="/Content/images/Guide09.jpg"><br>
                    <span class="color-1">2.在上图中我们选择某种果实点击即可进入行情的具体页面，在这里你可以看到该果实的分时图与K线图。</span><br>
                    <img src="/Content/images/Guide10.jpg"><br>
                    <span class="color-1">3.页面继续往下拉，您可以看到买入与卖出的表单，您可以根据您的需求提交您的买卖订单。你也可以通过下面的表格查看您的交易委托以及状态！</span>
                    <img src="/Content/images/Guide11.jpg"><br>
                </p>
            </div>

        </div>
    </div>
</div>