@{
    ViewBag.Title = "游戏介绍";
}
<div class="subbanner subbanner-news" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>游戏攻略</h1>
            <h2>Game &amp; Strategy</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 192px; width: 1903px; z-index: -999998; position: absolute;"><img src="/content/images/banner-news01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 356.813px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -82.4063px;"></div>
</div>


<div class="container clear">
    <div class="side">
        @Html.Partial("_StrategySideMenu")
    </div>
    <div class="main">
        <div class="main-head">神像介绍</div>
        @Html.Partial("_FarmSubMenu")
        <div class="main-farm">
            <p>
                神像用于保护您的农作物不被自然灾害而影响到产量。如果您没有时间时刻关注您的农场，没有关系，我们都给你想到了。您可以通过商城购买宝石或者挖地的时候随机获得到宝石，那么这些宝石可以兑换下面的各种神像，有了这些保护之神，什么土地长草、土地干旱、作物长虫等等都是浮云。
            </p>
            <dl class="main-farm-joss clear">
                <dd class="clear">
                    <div class="img">
                        <img src="/Content/images/1.png">
                    </div>
                    <div class="txt">
                        <span>名称：<b>弑草之神</b></span>
                        <span>介绍：保护所有土地不受杂草危害。</span>
                        <span>兑换：绿宝石x5(有效期2天)</span>
                    </div>
                </dd>

                <dd class="clear">
                    <div class="img">
                        <img src="/Content/images/2.png">
                    </div>
                    <div class="txt">
                        <span>名称：<b>屠虫之神</b></span>
                        <span>介绍：宝护所有土地不受虫灾危害。</span>
                        <span>兑换：紫宝石x5(有效期2天)</span>
                    </div>
                </dd>

                <dd class="clear">
                    <div class="img">
                        <img src="/Content/images/3.png">
                    </div>
                    <div class="txt">
                        <span>名称：<b>雨露之神</b></span>
                        <span>介绍：保护所有土地不受干旱危害。</span>
                        <span>兑换：蓝宝石x5(有效期2天)</span>
                    </div>
                </dd>

                <dd class="clear">
                    <div class="img">
                        <img src="/Content/images/4.png">
                    </div>
                    <div class="txt">
                        <span>名称：<b>丰收之神</b></span>
                        <span>介绍：保证所有土地的产量收益最大化。</span>
                        <span>兑换：黄宝石x5(有效期2天)</span>
                    </div>
                </dd>
            </dl>

            <p class="color-3">
                <b>神像是由宝石兑换获得，不同宝石兑换不同的神像。都有哪些宝石呢？我们如何得到宝石呢？请参考下面的表格。</b>
            </p>

            <div class="tablebox">
                <table>
                    <tbody>
                        <tr>
                            <th></th>
                            <th>名称</th>
                            <th>兑换神像</th>
                            <th>获取方式</th>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/11111.png" width="30"></td>
                            <td>绿宝石</td>
                            <td>弑草之神</td>
                            <td>随机获得、商店购买</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/22222.png" width="30"></td>
                            <td>紫宝石</td>
                            <td>屠虫之神</td>
                            <td>随机获得、商店购买</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/33333.png" width="30"></td>
                            <td>蓝宝石</td>
                            <td>雨露之神</td>
                            <td>随机获得、商店购买</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/44444.png" width="30"></td>
                            <td>黄宝石</td>
                            <td>丰收之神</td>
                            <td>随机获得</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>