@{
    ViewBag.Title = "游戏介绍";
}
<div class="subbanner subbanner-farm" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">

        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 195px; width: 1862px; z-index: -999998; position: absolute;">

        <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 387.917px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -96.4583px;" src="/content/images/banner-farm02.jpg" class="deleteable"><img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 387.917px; max-height: none; max-width: none; z-index: -999999; opacity: 0.984292; left: 0px; top: -96.4583px;" src="/content/images/banner-farm01.jpg">
    </div>
</div>

<div class="container clear">
    <div class="side">
        @Html.Partial("_StrategySideMenu")
    </div>
    <div class="main">
        <div class="main-head">道具介绍</div>
        @Html.Partial("_FarmSubMenu")
        <div class="main-farm">
            <div class="tablebox">
                <table>
                    <tbody>
                        <tr>
                            <th></th>
                            <th>名称</th>
                            <th>介绍</th>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/6666.png" width="30"></td>
                            <td>种子</td>
                            <td>谜一样的种子，不知道种下去会得到什么。</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/1111.png" width="30"></td>
                            <td>洒水壶</td>
                            <td>用来土地浇水，对付干旱。</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/2222.png" width="30"></td>
                            <td>除草剂</td>
                            <td>清除地里杂草。</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/3333.png" width="30"></td>
                            <td>除虫剂</td>
                            <td>清除地里害虫。</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/4444.png" width="30"></td>
                            <td>化肥</td>
                            <td>减少生长时间3小时，每个阶段仅限施肥一次。</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/bx1.png" width="30"></td>
                            <td>钻石宝箱</td>
                            <td>使用50朵玫瑰，抽取巨奖！</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/bx2.png" width="30"></td>
                            <td>金宝箱</td>
                            <td>用50南瓜、25草莓，抽出大奖！</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/bx3.png" width="30"></td>
                            <td>银宝箱</td>
                            <td>用100辣椒、50西瓜，抽出大奖！</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/bx4.png" width="30"></td>
                            <td>铜宝箱</td>
                            <td>用200萝卜、100苹果，抽出大奖！</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/ct2.png" width="30"></td>
                            <td>银锄头</td>
                            <td>用它来铲地，可产生种子。</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/ct3.png" width="30"></td>
                            <td>铜锄头</td>
                            <td>用它来铲地，可产生种子。</td>
                        </tr>
                        <tr>
                            <td><img src="/Content/images/qd.png" width="30"></td>
                            <td>青帝之泪</td>
                            <td>可进行效率更高的果实重生。</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>