@{
    ViewBag.Title = "游戏介绍";
}
<div class="subbanner subbanner-farm" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">

        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 195px; width: 1862px; z-index: -999998; position: absolute;">

        <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 387.917px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -96.4583px;" src="/content/images/banner-farm02.jpg" class="deleteable"><img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 387.917px; max-height: none; max-width: none; z-index: -999999; opacity: 0.984292; left: 0px; top: -96.4583px;" src="/content/images/banner-farm01.jpg">
    </div>
</div>


<div class="container clear">
    <div class="side">
        @Html.Partial("_StrategySideMenu")
    </div>
    <div class="main">
        <div class="main-head">视频教程</div>

        <div class="main-farm">

            <video src="/Content/images/movie.mp4" width="100%" controls="controls">
                您的浏览器不支持 video 标签。
            </video>

        </div>

    </div>
</div>