@{
    ViewBag.Title = "游戏介绍";
}
<div class="subbanner subbanner-news" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>游戏攻略</h1>
            <h2>Game &amp; Strategy</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 192px; width: 1903px; z-index: -999998; position: absolute;"><img src="/content/images/banner-news01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 356.813px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -82.4063px;"></div>
</div>


<div class="container clear">
    <div class="side">
        @Html.Partial("_StrategySideMenu")
    </div>
    <div class="main">
        <div class="main-head">视频教程</div>

        <div class="main-farm">

            <video src="/Content/images/movie.mp4" width="100%" controls="controls">
                您的浏览器不支持 video 标签。
            </video>

        </div>

    </div>
</div>