
@{
    ViewBag.Title = "用户中心";
    Layout = "~/Views/Shared/_UserCenterLayout.cshtml";
}

    <div class="uc-head uc-head-border">充值完成</div>

    <div class="message message-info">
        温馨提示：<br>
        请稍后查看充值结果
    </div>
    