
@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="subbanner-small subbanner-user" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>用户中心</h1>
            <h2>User Center</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 120px; width: 1423px; z-index: -999998; position: absolute;">
        <img src="/content/images/banner-user01.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1423px; height: 177.875px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -28.9375px;" class="deleteable">
        <img src="/content/images/banner-user02.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1423px; height: 177.875px; max-height: none; max-width: none; z-index: -999999; opacity: 0.701453; left: 0px; top: -28.9375px;">
    </div>
</div>


<div class="container">
    <div class="loginbox">
        <div class="loginbox-inner">
            <div class="loginbox-inner-head">蓝朝通行证注册</div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <div class="loginbox-inner-form">
                <div class="form-group">
                    <div class="form-group-addon no-right-border">手　　机</div>
                    <div class="form-group-input stretch">
                        <input class="stretch" id="Phone" name="phone" placeholder="请输入手机号" type="text" value="">
                    </div>
                </div>
                <span class="field-validation-valid"></span>

                <div class="form-group">
                    <div class="form-group-addon no-right-border">密　　码</div>
                    <div class="form-group-input stretch">
                        <input type="password" class="stretch" id="PasswordText" name="password" placeholder="请输入密码" />
                    </div>
                </div>
                <span class="field-validation-valid"></span>

                <div class="form-group">
                    <div class="form-group-addon no-right-border">确认密码</div>
                    <div class="form-group-input stretch">
                        <input type="password" class="stretch" id="RePasswordText" name="passwordc" placeholder="请再次输入密码"/>
                    </div>
                </div>
                <span class="field-validation-valid"></span>

                <div class="form-group">
                    <div class="form-group-addon no-right-border">图片验证</div>
                    <div class="form-group-input stretch">
                        <input class="stretch" id="VCode" maxlength="4" name="vcode" type="text" value="">
                    </div>
                    <div class="form-group-addon no-left-border code">
                        <img src="/common/VerificationImgForm" title="点击图片换一张"  onclick="this.src = '/common/VerificationImgForm?flag=' + Math.random()" />
                    </div>
                </div>
                @*<span class="field-validation-valid"></span>*@

                @*<div class="form-group">
                    <div class="form-group-addon no-right-border">短信验证</div>
                    <div class="form-group-input stretch">
                        <input class="stretch" id="MobileVCode" maxlength="6" name="MobileVCode" placeholder="" type="text" value="">
                    </div>
                    <div class="form-group-input">
                        <button class="no-left-border button-color-2" type="button" onclick="GetSMS()" id="Sms">获取手机验证码</button>
                    </div>
                </div>
                <span class="field-validation-valid"></span>

                <div class="form-group hide" id="friend">
                    <div class="form-group-addon no-right-border">　推荐码</div>
                    <div class="form-group-input stretch">
                        <input class="stretch" id="RefCode" name="RefCode" placeholder="请输入推荐码" type="text" value="">
                    </div>
                </div>*@
                @Html.ValidationMessage("reg", new { @class = "field-validation-valid" })
                <div class="form-group">
                    <input type="button" class="button button-color-1 button-stretch" id="btnReg" value="我已阅读并同意相关协议">
                    @*<div class="validation-summary-valid">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>*@
                   
                </div>

                <div class="form-group clear">
                    <a onclick="$('#friend').toggle()" class="color-1">好友推荐</a>
                    @Html.ActionLink("用户协议", "Agreement", "Static", null, new { target = "_blank" })
                    @Html.ActionLink("直接登录", "Login", "User")
                </div>
            </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnReg').click(function () {
            $('form').submit();
        });
    });
</script>