@model MarketDetailViewModel
<div class="container">
    <div class="trade-entrust-my">
        <h3 class="color-1">当前委托</h3>
        <div class="tablebox">
            <table>
                <thead>
                    <tr>
                        <th>委托时间</th>
                        <th>产品</th>
                        <th>类型</th>
                        <th>价格</th>
                        <th>委托量</th>
                        <th>已成交</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody id="MyEntrust0"><tr><td class="algin" colspan="8">没有查询到任何数据</td></tr></tbody>
            </table>
        </div>

        <div class="thepager clear" id="thepager0" style="display: none;"></div>


    </div>

    <div class="trade-entrust-my" style="padding-top:0;">
        <h3 class="color-1">历史委托</h3>
        <div class="tablebox">
            <table>
                <thead>
                    <tr>
                        <th>委托时间</th>
                        <th>产品</th>
                        <th>类型</th>
                        <th>价格</th>
                        <th>委托量</th>
                        <th>已成交</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody id="MyEntrust1"><tr><td class="algin" colspan="8">没有查询到任何数据</td></tr></tbody>
            </table>
        </div>

        <div class="thepager clear" id="thepager1" style="display: none;"></div>

    </div>

</div>