@model MarketDetailViewModel
<div class="container">
    <ul class="product-switch clear">
        @foreach (var p in Model.Products)
        {
             <li @(Model.MarketDetail.Product.ProductCode == p.ProductCode ? "class=select" : string.Empty)>@Html.ActionLink(p.ProductName, "Detail", new { id = p.ProductCode })</li>            
        }
    </ul>
</div>